{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "extends": [
        "react-app",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "rules": {
        "semi": [
            1,
            "always"
        ],
        "quotes": [
            1,
            "single"
        ],
        "sort-imports": [
            1,
            {
                "ignoreCase": false,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": [
                    "none",
                    "all",
                    "multiple",
                    "single"
                ]
            }
        ],
        "indent": [
            1,
            "tab"
        ],
        "no-console": [
            1
        ]
    },
    "settings": {
        "react": {
            "version": "16.5.2"
        }
    }
}